#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px
}

#puppies {
  display: flex;
  flex-wrap: wrap;
}

#puppies title{
  display: flex;
  justify-content: center;
  width: 100%
}